---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: payment-api-pdb
  namespace: finpay-prod
  labels:
    app.kubernetes.io/name: payment-api
    app.kubernetes.io/instance: finpay-prod
    app.kubernetes.io/component: api
    app.kubernetes.io/managed-by: kubectl
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: payment-api
      app.kubernetes.io/name: payment-api
      app.kubernetes.io/instance: finpay-prod
