---
apiVersion: v1
kind: Service
metadata:
  name: payment-api
  namespace: finpay-prod
  labels:
    app.kubernetes.io/name: payment-api
    app.kubernetes.io/instance: finpay-prod
    app.kubernetes.io/component: api
    app.kubernetes.io/managed-by: kubectl
spec:
  type: ClusterIP
  selector:
    app: payment-api
    app.kubernetes.io/name: payment-api
    app.kubernetes.io/instance: finpay-prod
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
