---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: payment-worker-pdb
  namespace: finpay-prod
  labels:
    app.kubernetes.io/name: payment-worker
    app.kubernetes.io/instance: finpay-prod
    app.kubernetes.io/component: worker
    app.kubernetes.io/managed-by: kubectl
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: payment-worker
      app.kubernetes.io/name: payment-worker
      app.kubernetes.io/instance: finpay-prod
