apiVersion: v1
kind: ServiceAccount
metadata:
  name: payment-api
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.iam.paymentApiRoleArn }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: payment-worker
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.iam.paymentWorkerRoleArn }}
